<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+接口名 -->
<mapper namespace="com.store.dao.UserDao">
	   
 <select id="getByUsernameAndPwd"  parameterType="java.util.HashMap" resultType="com.store.model.User">
 		select  *  from user where username =#{username} and password = #{password} limit 1
 	
 </select>

<insert id="save">
    insert into user (uid,username,password,name,email,telephone,birthday,sex,state,code)
      values (#{uid},#{username},#{password},#{name},#{email},#{telephone},#{birthday},#{sex},#{state},#{code})
</insert>

<update id="update">
	update user set  password =#{password} , sex = #{sex}, state = #{state} , code = #{code} where  uid=#{uid}
</update>

<select id="getByCode" resultType="com.store.model.User">
	select * from  user where code = #{code}  limit 1
</select>
</mapper>